body{
    background-color: #161616; /* Define a cor de fundo da página */
    color: white; /* Define a cor do texto */
    font-family: 'poppins', sans-serif; /* Define a fonte principal */
}

.nav-bar{
    display: flex; /* Exibe os itens da barra de navegação em linha */
    justify-content: space-between; /* Espaçamento uniforme entre os itens */
    padding-right: 50px; /* Adiciona espaçamento à direita */
}

.nav-bar a:hover{
    color: darkblue; /* Altera a cor do link ao passar o mouse */
}

@media(width <= 400px) { /* Estilos para telas com largura menor ou igual a 400px */
    .nav-bar{
        flex-direction: column; /* Exibe os itens da barra de navegação em coluna */
    }

    header{
        display: flex; /* Exibe os elementos do cabeçalho em linha */
        flex-direction: column; /* Alinha os elementos em coluna */
        align-items: center; /* Centraliza os elementos horizontalmente */
    }
}

li{
    list-style-type: none; /* Remove os marcadores das listas */
}

a{
    text-decoration: none; /* Remove o sublinhado dos links */
    color: white; /* Define a cor dos links */
}

.profile-photo-container{
    display: flex; /* Centraliza a foto do perfil */
    justify-content: center;
    margin-top: 40px; /* Adiciona espaçamento acima */
}

.profile-photo{
    border-radius: 50%; /* Deixa a foto com bordas arredondadas (circular) */
    width: 150px; /* Define a largura da foto */
        /* border: 5px solid darkblue; */ 
    border-width: 5px; /* Define a largura da borda */
    border-style: solid; /* Define o estilo da borda */
    border-color: darkblue; /* Define a cor da borda */
}

main{
    margin-left: 30px; /* Adiciona margem à esquerda */
    margin-right: 20px; /* Adiciona margem à direita */
}

main h1{
    color: darkblue; /* Define a cor do título principal */
}

main p{
    font-size: 14px; /* Define o tamanho da fonte dos parágrafos */
}

footer{
    display: flex; /* Exibe os elementos do rodapé em linha */
    justify-content: center; /* Centraliza os elementos horizontalmente */
}

footer div{
    padding: 20px; /* Adiciona espaçamento interno aos elementos do rodapé */
}

footer img{
    width: 20px; /* Define a largura das imagens no rodapé */
    padding-left: 10px; /* Adiciona espaçamento à esquerda das imagens */
}

footer a{
    display: flex; /* Exibe os links do rodapé em linha */
    align-items: center; /* Alinha os itens verticalmente ao centro */
}

@media (width <= 420px) { /* Estilos para telas com largura menor ou igual a 420px */
    footer{
        flex-direction: column; /* Exibe os elementos do rodapé em coluna */
        justify-content: center; /* Centraliza os elementos horizontalmente */
        align-items: center; /* Centraliza os elementos verticalmente */
    }
}
